<script src="/conversations-tool/js/create-topic.js"></script>

<div class="vue-enabled">
  <create-topic-wrapper baseurl="{{baseURL}}"></create-topic-wrapper>
</div>

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th class="col-sm-3">Topic Title</th>
            <th class="col-sm-6">Topic Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each topics}}
            <tr>
              <td>{{title}}</td>
              <td>{{type}}</td>
              <td><a href="{{baseURL}}topic?uuid={{uuid}}">View</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>